@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  box-sizing: border-box;
}

body {
   font-family: 'Roboto'; 
   color: #3d200a;
}
/* nav section */
.navbar_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #eab135;
    top: 0px;
    z-index: 99;
}

.navbar_content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    letter-spacing: 1.6px;
}
.nav_brand  {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    float: right;
    right: 30%;
    top: -7px;
}
.nav_brand .logo {
    position: relative;
    width: 30px;
    height: 30px;
    padding-right: 2px;
    color: black;
}
  
.nav_brand h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Noto';
    letter-spacing: 1px;
    text-transform: uppercase;
}

.menu_items {
    display: flex;
    align-items: center;
    justify-content: center;
    clear: right;
    height: 80px;
    
}
.nav_list {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    float: left;
    left: 50%;
    list-style-type: none;
}

.list_items {
    padding: 20px;
}
.nav_links {
    text-decoration: none;
    color: #4f2b0f;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 900;
    overflow: hidden;
}
li .nav_links::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #4f2b0f;
    display: block;
    margin: auto;
}
li .nav_links:hover::after {
    width: 100%;
    transition: width .3s linear;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar{
   display: block;
   width: 25px;
   height: 3px;
   margin: 3px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: #3d200a;
}
/* hero section */
.hero_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #eab135;
}
.hero_content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 60px;
}
.hero_txt {
   display: block;
   align-items: center;
   justify-content: center; 
   position: relative;
   right: 24%; 
   text-transform: uppercase;
}
.paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    left: 20px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    border: 2px dashed #4f2b0f;
}
.hero_txt  h1{
    display: flex;
    padding: 10px 0px;
    font-size: 6em;
    font-weight: bolder;
    font-family: 'Noto';
    text-transform: uppercase;
    position: relative;
    left: 16px;
    letter-spacing: -2px;
    text-shadow: 2px 2px 4px white; 
}

.hero_txt  h3 {
    display: flex;
    font-size: 4em;
    font-weight: 900;
    font-family: 'Noto';
    text-transform: uppercase;
    position: relative;
    left: 16px;
    top: -18px;
    letter-spacing: -1px;
    text-shadow: 2px 2px 4px white; 
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -20px;
    left: 80px;
}
.banner img {
    width: 380px;
    height: 380px;
}

/*menu section */
.menu_container {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 50px;
    text-transform: uppercase;
}
.menu_grid {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    width: 100%;
}

.grid1 {
    display: block;
    align-items: center;
    justify-content: center;
    background-image: url(../images/menu_img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 480px;
    height: 350px;
    padding: 10px;
    border-radius: 20px;
}
.grid2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 350px;
}
.grid_img {
    display: block;
    align-items: center;
    justify-content: center;
    background-image: url(../images/menu_img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    padding: 10px;
}

.menu_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40px;
    left: 40%;
    width: 200px;
    padding: 10px;
    background-color: #eab135;
    border: none;
    outline: none;
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
    color: #3d200a;
}
.menu_btn:hover {
    color: gray;
}
.flex_container {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
}
.flex_txt {
    display: block;
    align-items: center;
    justify-content: center;
}
.flex_txt h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 3.4em;
    font-family: 'Noto';
    font-weight: bolder;
    text-transform: uppercase;
}
.flex_txt p {
    display: block;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    font-weight: 360;
    width: 60%;
    position: relative;
    left: 20%;
    top: 20px;
    line-height: 1.8rem;
}

.flex_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.flex {
    display: block;
    align-items: center;
    justify-content: center;
}

.flex img {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 30px;
}

.flex h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -20px;
    font-size: 1.4rem;
    margin: 20px;
}
.flex p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    font-weight: 300;
    position: relative;
    left: -20px;
    margin: 8px 20px;
    text-transform: lowercase;
}

.flex_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40px;
    left: 45px;
    padding: 16px;
    width: 160px;
    background-color: #db0808;
    color: white;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 800;
    border: none;
    outline: none;
}
.flex_btn:hover {
    color: black;
}
/* updates section */
.updates_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 300px;
    width: 70%;
    background-color: white;
    box-shadow: 0px 2px 4px grey;
    position: relative;
    left: 16%;
    padding: 10px;
}
.update_txt {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.update_txt h4 {
    display: flex;
    color: rgb(27, 27, 27);
    text-transform: uppercase;
}

.update_txt h2{
    display: flex;
    text-transform: uppercase;
    font-family: 'Noto';
    font-weight: 900;
    font-size: 2em;
}
.update_txt p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 300;
}
.update_img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.update_img img {
    width: 500px;
    height: 300px;
}

/* reservation section*/
.reserve_container {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 400px;
}

.reservation_txt {
    display: block;
    align-items: center;
    justify-content: center;
}
.reservation_txt h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}
.reservation_txt h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-family: 'Noto';
    font-weight: 900;
    font-size: 3.4em;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -10px;
    width: 100%;
}

form input {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -135px;
    padding: 14px 20px;
    margin: 40px;
    border: 1px solid black;
    font-size: 14px;
    font-weight: 500;
}
.form span {
    position: relative;
    left: 300px;
    top: -262px;
}
input[type="date"] {
    padding: 14px 50px;
}

input[type="time"] {
    padding: 14px 60px;
}
input[type="submit"] {
    padding: 16px 68px;
    background-color: #db0808;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
}
input[type="submit"]:hover {
    color: black;
}
/* footer section */
.footer_container {
   display: block;
   align-items: center;
   justify-content: center;
   width: 100%;
   position: relative;
   top: 180px;
   padding: 30px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/footer_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10;
    width: 90vw;
    height: 100vh;
    position: relative;
    left: 40px;
    padding: 20px;
}

.footer_content {
    display: block;
    color: white;
    position: relative;
    top: -90px;
}
.footer_brand {
    display: flex;
    align-items: flex-start;
    font-family: 'Noto';
    font-size: 2em;
    text-transform: uppercase;
    position: relative;
    padding: 40px 0px;
}
.footer_brand img{
   display: flex;
   width: 40px;
   height: 40px;
   position: relative;
   top: 2px;
   margin: 4px;
}

.footer_content p{
   width: 70%;
}

.address {
    display: block;
    align-items: flex-end;
    justify-content: center;
    color: white;
    position: relative;
    left: 200px;
    width: 100%;
}
.icons {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

.icons ion-icon {
    display: flex;
    width: 22px;
    height: 22px;
    position: relative;
    top: 2px;
}
.icons p {
    display: flex;
    width: 100%;
    font-size: 14px;
}
.social {
    display: flex;
    align-items: end;
    position: relative;
    top: 260px;
    color: white;
}
.rights {
    display: flex;
    width: 120%;
    align-items: flex-start;
    position: relative;
    top: 180px;
    float: left;
    left: -750px;
    top: 250px;
    font-size: 14px;
}
.rights span {
    position: relative;
    top: 5px;
}
.rights p {
  display: flex;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  width: 100%;
  position: relative;
  top: 7px;
}

@media screen and (max-width: 768px){
  .hamburger {
    display: block;
    position: absolute;
    left: 88%;
  }  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
  .nav_brand {
    position: absolute;
    top: 24px;
    left: -30px;
  }
  .menu_items .nav_list{
    left: -200%;
    top: 190px;
    gap: 0;
    flex-direction: column;
    background-color: #eab135;
    width: 390px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0px 2px 0px white;
  }
  .list_items {
    margin: 0px 0px;
  }
  .nav_list.active {
     left: 0;
  }
  /* Hero Section */
  .hero_container {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}
.hero_content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40px;
}
.hero_txt {
   display: block;
   align-items: center;
   justify-content: center; 
   position: relative;
   width: 100%;
   left: 0px;
   top: 80px;
   text-transform: uppercase;
   z-index: 2;
}
.paragraph {
    width: 100%;
    left: 20px;
    padding: 8px;
    font-weight: 600;
}
.hero_txt  h1{
    display: flex;
    font-size: 3em;
    text-transform: uppercase;
    position: relative;
    left: 16px;
}

.hero_txt  h3 {
    font-size: 2em;
    font-weight: 900;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    top: 80px;
    left: 0px;
}
.banner img {
    width: 170px;
    height: 170px;
}
/*menu section */
.menu_container {
    display: block;
    width: 100%;
    position: relative;
    top: 100px; 
}
.menu_grid {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    width: 100%;
    margin: 0px 6px;
}

.grid1 {
    display: block;
    align-items: center;
    justify-content: center;
    background-image: url(../images/menu_img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 350px;
    height: 250px;
    padding: 10px;
    margin: 4px 10px;
    border-radius: 20px;
}
.grid2 {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.grid_img {
    display: block;
    width: 360px;
    height: 200px;
    position: relative;
    top: 10px;
    margin: 10px;
}

.menu_btn {
    top: 100px;
    left: 26%;
    width: 200px;
    padding: 10px;
    
}
.menu_btn:hover {
    color: gray;
}
.flex_container {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 150px;
}
.flex_txt {
    display: block;
    align-items: center;
    justify-content: center;
}
.flex_txt h2 {
    display: flex;
    position: relative;
    font-size: 2.4em;
}
.flex_txt p {
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    position: relative;
    left: 20px;
    top: 15px;
    line-height: 1.8rem;
}

.flex_content {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.flex {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -80px;
}

.flex img {
    position: relative;
    left: 80px;
    margin: 40px 0px;
    top: 70px;
}

.flex p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 300;
    position: relative;
    left: -20px;
    margin: 8px 20px;
    text-transform: lowercase;
}

.flex_btn {
   position: relative;
   z-index: 3;
   left: 100px;
}
.updates_container {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 280px;
    width: 90%;
    left: 4%;
    padding: 10px;
}
.update_img img {
    width: 330px;
    height: 220px;
}
/* reservation section*/
.reserve_container {
    width: 100%;
    top: 370px;
}

.reservation_txt {
    display: block;
    align-items: center;
    justify-content: center;
}
.reservation_txt h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}
.reservation_txt h2 {
    font-size: 2.2em;
}

.form {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -10px;
    width: 100%;
}

form input {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 70px;
    padding: 14px 20px;
    margin: 20px;
    border: 1px solid black;
    font-size: 14px;
    font-weight: 700;
}
.form span {
    position: relative;
    width: 100%;
    left: 0;
    top: 10px;
}
input[type="date"] {
    padding: 14px 55px;
}
input[type="time"] {
    padding: 14px 65px;
}
    /* footer section */
.footer_container {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    top: 400px;
    background-color: black;
 }
 .footer {
     display: block;
     align-items: center;
     justify-content: center;
     background: none;
     width:100%;
     height: 70vh;
     position: relative;
     left: 0px;
     padding: 40px;
 }
 
 .footer_content {
     display: block;
     color: white;
     position: relative;
     top: -90px;
 }
 .footer_brand {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     font-size: 1.1em;
     text-transform: uppercase;
     position: relative;
     padding: 40px 0px;
     left: -24px;
 }
 .footer_brand img{
    display: flex;
    width: 30px;
    height: 30px;
    position: relative;
    top: -2px;
    margin: 4px;
 }
 
 .footer_content p{
    top: -20px;
    width: 100%;
 }
 
 .address {
     display: block;
     position: absolute;
     left: 10px;
     width: 100%;
     top: 270px;
 }
 .icons {
     display: flex;
     align-items: flex-end;
     justify-content: center;
     width: 100%;
     margin: 10px;
 }
 
 .icons ion-icon {
     display: flex;
     width: 28px;
     height: 28px;
     position: relative;
     top: 12px;
     padding: 8px;
 }
 .icons p {
     width: 100%;
     font-size: 16px;
 }
 .social {
     display: flex;
     align-items: end;
     position: absolute;
     top: 400px;
     left: 120px;
     color: white;
 }
 .social > ion-icon {
    margin: 4px;
    width: 24px;
    height: 24px;
 }
 .rights {
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: center;
     position: absolute;
     top: 270px;
     left: 10px;
 }
 .rights span {
     position: relative;
     top: 160px;
     left: 25px;
     font-size: 22px!important;
 }
 .rights p {
   display: flex;
   color: white;
   text-transform: uppercase;
   font-size: 18px;
   width: 100%;
   position: relative;
   top: 7px;
    width: 100%;
    position: relative;
    top: 180px;
    padding: 30px;
 }
 
}
